@import "./normalize";

body {
  background: #f5e5cb;
}

.changeCards {
  display: flex;
  column-gap: 10px;

  &__item {
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}